.bookingWrapper {
  background-color: #fdf7e3;
  width: 25em;
  border-radius: 14px;
  border: 2px solid #18191f;
}

.pricetypeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addRemoveWrapper {
  border: 2px solid #18191f;
  border-radius: 14px;
  background-color: #ffd465;
}

.addRemove button {
  border: none;
  border-radius: none;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 0.5em 1em;
}
