.bookingWrapper {
  background-color: #fdf7e3;
  border-radius: 14px;
  border: 2px solid #18191f;
  padding: 2em 0em;
}

/* .ticketWrapper {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
} */

.pricetypeWrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  max-width: 18em;
  /* margin-left: 2em; */
  align-items: center;
  margin: auto;
}

.pricetypeWrapper h4 {
  margin: 0.6em;
}

.pricetypeWrapper p {
  color: gray;
  font-size: smaller;
}

/* .numberInput {
  float: right;
} */

.selectWrapper {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.seatBtn,
.totalPrice {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.feedback,
.errorFeedback {
  text-align: center;
  padding: 0em 1em;
  margin-top: 1em !important;
}

.errorFeedback {
  color: red;
}
