.carousel {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carouselArrow {
  width: 20%;
}

.carouselImageSlide {
  width: 80vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
