.carousel {
  position: relative;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
  filter: saturate(142%) contrast(87%) brightness(115%);
  transition: 300ms linear;
}

.active {
  background: #ffd465 !important;
}

.icon {
  border-radius: 14px;
  width: 2rem;
  height: 5px;
  border: none;
  transition: linear 250ms;
  background: #474a57;
}

.iconsWrapper {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.titleWrapper {
  margin-top: 2rem;
  filter: drop-shadow(0rem 0px 1rem #fefcf5);
}

.titleWrapper .movieTitle {
  text-align: center;
  filter: drop-shadow(0px 0px 0.5rem #fefcf5);
  color: #18191f;
}

.titleAndIconWrapper {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sliderArrowLeft,
.sliderArrowRight {
  position: relative;
  height: 100%;
  width: 20%;
}

@media only screen and (min-width: 800px) {
  .carousel {
    height: 70vh;
  }

  .titleWrapper {
    margin: 5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .carousel {
    height: 70vh;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
  }

  .titleWrapper .movieTitle {
    cursor: default;
  }

  /* Transition solution for right and left arrow; transitions are not possible with linear-gradients, 
so in order for a smooth transition on hover, a pseudo-element is created 
to which a hover effect is added for its opacity to go from 0 to 1, resulting in the 
desired linear-gradient */

  .sliderArrowLeft,
  .sliderArrowRight {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    height: 100%;
    max-width: 30%;
    z-index: 1;
  }

  .sliderArrowLeft::before,
  .sliderArrowRight::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 300ms linear;
    opacity: 0;
    color: (255, 212, 101);
  }

  .sliderArrowLeft::before {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 1)
    );
  }

  .sliderArrowRight::before {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 1)
    );
  }

  .sliderArrowRight:hover::before,
  .sliderArrowLeft:hover::before {
    opacity: 1;
  }
}
