.entryContainer {
  background-color: #fdf7e3;
  padding: 1em;
  margin: 1em;
  width: 20em;
  border: 2px solid #18191f;
  border-radius: 14px;
}

.entryContainer input {
  margin: 0.5em;
  position: relative;
}

::-webkit-input-placeholder {
  font-family: "Oxygen", sans-serif;
}

button {
  width: 100%;
}

.highlighted {
  color: #d83830;
}

.toggleMenuText {
  text-align: center;
}
