.entryContainer {
  background-color: #ffe8e8;
  padding: 1em;
  border: 2px solid #18191f;
  border-radius: 14px;
  margin-bottom: 10em;
}
.entryContainer .inputContainer {
  margin: 0 auto;
  max-width: 400px;
  padding: 0.5em;
}

.entryContainer input {
  margin: 0.3em 0;
  position: relative;
}

.entryContainer h1 {
  margin-top: 0.4em;
}

.entryContainer h3,
.entryContainer p {
  margin: 0.5em 0em;
}

::-webkit-input-placeholder {
  font-family: "Oxygen", sans-serif;
}

/* .entryContainer button {
  margin-top: 1em;
  width: 100%;
} */
