.errorPage {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
}

.columns {
  display: grid;
  gap: 1rem;
}

.errorPage .code {
  font-size: 5rem;
  font-weight: bold;
}
.errorPage h1 {
  margin: 0;
}

.errorPage img {
  margin: 0 auto;
}

@media (min-width: 400px) {
  .columns {
    grid-template-columns: 1fr auto;
  }
}
