.about {
  display: flex;
  flex-flow: row wrap;
}

.aboutAndContactWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem;
  text-align: left;
}

.aboutText {
  margin: 1rem 0 2rem 0;
}

.address {
  margin: 2rem;
}

.contact {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3rem 0rem;
  display: flex;
  flex-flow: row wrap;
}

.contactWrapper {
  text-align: left;
}

.copyrightWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #d83830;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #18191f;
}

.iconAndDesc p {
  margin: 6px;
}

.iconAndDesc {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 9rem;
}

.logoContainer {
  margin: 2rem 2rem 0rem 0rem;
  text-align: right;
}

.social {
  margin: 2rem;
}

.socialIcon {
  margin-right: 2rem;
  width: 2rem;
}

@media screen and (min-device-width: 1024px) {
  .about {
    width: 40%;
  }

  .contactWrapper {
    width: 40%;
  }
}
