.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 48%;
  text-align: center;
  width: 100%;
}

.pageWrapper h1,
h2 {
  margin: 0;
}

.pageWrapper h3 {
  text-align: center;
}

.pageWrapper img {
  max-width: 100%;
  max-height: 100%;
}

.imgContainer {
  position: relative;
  height: 60vh;
  background-size: cover;
  background-position: top 15% left 40%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.73) 84%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://m.media-amazon.com/images/M/MV5BNDExNDYxODc1MF5BMl5BanBnXkFtZTcwNDQ0OTk1Mw@@._V1_.jpg");
}

@media screen and (min-width: 575px) {
  .pageWrapper h1 {
    font-size: 3.5rem;
  }

  .pageWrapper h2 {
    font-size: 2.5rem;
  }

  .textContainer {
    top: 40%;
  }
}
