/* .pageWrapper {
  background: #fefcf5;
} */

.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.pageWrapper h1 {
  font-size: 1em;
  margin: 0;
}

.pageWrapper p {
  font-size: 1.2em;
  margin: 0;
}

.pageWrapper img {
  max-width: 100%;
  max-height: 100%;
}

.imgContainer {
  position: relative;
  width: auto;
  height: 40vh;
  background-size: cover;
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.73) 84%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://m.media-amazon.com/images/M/MV5BNDExNDYxODc1MF5BMl5BanBnXkFtZTcwNDQ0OTk1Mw@@._V1_.jpg");
}
