.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.pageWrapper h1,
h2 {
  margin: 0;
}

.pageWrapper h2 {
  color: #404143;
}

.pageWrapper h3 {
  text-align: center;
}

.pageWrapper img {
  max-width: 100%;
  max-height: 100%;
}

.imgContainer {
  position: relative;
  height: 60vh;
  background-size: cover;
  background-position: top 15% left 40%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.73) 80%,
      rgba(254, 252, 245, 1) 100%
    ),
    url("https://m.media-amazon.com/images/M/MV5BNDExNDYxODc1MF5BMl5BanBnXkFtZTcwNDQ0OTk1Mw@@._V1_.jpg");
}

.fade {
  /* width:200px;
  height: 200px;
  background: red; */
  text-align: center;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (min-width: 575px) {
  .pageWrapper h1 {
    font-size: 3.5rem;
  }

  .pageWrapper h2 {
    font-size: 2.5rem;
  }

  .textContainer {
    top: 40%;
  }
}
