form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

form input {
  position: relative;
}

.placeholder ::-webkit-input-placeholder {
  padding-left: 1.2em;
}

.userIcon,
.lockIcon {
  position: absolute;
  font-size: 19px;
  left: 2.3em;
  z-index: 1;
}

.userIcon {
  top: 8.6em;
}

.lockIcon {
  top: 11.6em;
}
