form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 0em;
}

.inputContainer input {
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

/* .inputContainer p {
  margin: 1em 0em;
}
 */
.userIcon,
.lockIcon {
  position: absolute;
  font-size: 19px;
  z-index: 1;
  color: #474a57;
  left: calc(100% - 40px);
}

.toggleMenuBtn button {
  border: none;
  padding: 0;
  box-shadow: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 0.2 !important;
}

.toggleMenuBtn p {
  margin: 0;
}

.highlighted {
  color: #d83830;
}

.feedbackMessage {
  text-align: center;
  padding-top: 0.5em;
  color: #d83830;
}
