.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.movieCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 9rem;
  margin: 1rem 0.5rem;
  border: 2px solid #18191f;
  border-radius: 14px;
  box-shadow: 0px 3px 0px 0px #18191f;
  filter: brightness(95%) contrast(100%);
  transition: 400ms ease;
}

.imageWrapper {
  max-height: 210px;
}

.movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  border-bottom: 2px solid #18191f;
}

.titleWrapper {
  width: 100%;
  text-align: center;
  font-size: 9px;
}

.movieTitle {
  margin: 0.7rem 0.5rem;
}

@media screen and (max-width: 355px) {
  .movieList {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 575px) {
  .movieList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .movieList {
    grid-template-columns: repeat(4, 1fr);
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .movieCard:hover {
    filter: saturate(142%) contrast(87%) brightness(115%);
    transform: scale(1.12);
    transition: 400ms ease;
  }
}
