.moviePage .heroImg {
  width: 100vw;
  overflow: hidden;
  height: 35vh;
  cursor: pointer;
}
.moviePage .heroImg img {
  filter: blur(3px);
  width: 105%;
  margin: -40% 0 0 -5px;
}
.moviePage .content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
.moviePage .heading {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1.5rem;
}
.moviePage .imgWrapper {
  margin-top: -40px;
  max-width: 250px;
  z-index: 1;
}
.moviePage .imgWrapper img {
  border-radius: 14px;
  border: 2px solid #18191f;
  box-shadow: 0px 3px 0px 0px #18191f;
  width: 100%;
}
.moviePage .title {
  margin-top: -20px;
  z-index: 1;
}
.moviePage .title h2,
.moviePage .title h4 {
  margin: 0.8rem 0;
}
.moviePage .text {
  margin: 0 .7rem;
}
.moviePage .info ul {
  padding: 0;
  margin: 0;
}
.moviePage .info li {
  list-style-type: none;
}

.moviePage h4 {
  margin: 1.4rem 0 .2rem;
}