.spacer {
  height: 2rem;
  padding: 0.5rem;
}

.topfield {
  box-shadow: 0px 3px 0px 0px #18191f;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the navigation menu */
.topnav {
  background-color: rgb(216, 56, 48);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 0px 0px #18191f;
  width: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
}

.topnav a:hover {
  color: #fdf7e3;
}

.searchicon2 {
  display: none;
}

.navs {
  background-color: #d83830;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.topfield:not(.clickedMenu) .topnav {
  display: none;
}

.img {
  height: 2rem;
}

.input {
  display: none;
}

.grid {
  display: grid;
}

.justifyEnd {
  justify-content: end;
}

.alignCenter {
  align-items: center;
}

.login {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.login:hover {
  color: #fdf7e3;
}

.entry {
  color: #18191f;
}

@media (min-width: 768px) {
  .topnav,
  .topfield:not(.clickedMenu) .topnav {
    background: none;
    box-shadow: none;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .img {
    padding-left: 0px;
  }

  .topnav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    display: inline;
  }

  .navs.clickedMenu {
    border-bottom: none;
  }

  .searchicon {
    display: none;
  }

  .searchicon2 {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  .input {
    display: none;
  }

  .topfield {
    background-color: rgb(216, 56, 48);
    display: flex;
  }
}

@media (min-width: 1025px) {
  .input {
    display: inline;
    margin-right: 5px;
    border: 1px solid #18191f;
    border-radius: 14px;
    box-shadow: 0px 3px 0px 0px #18191f;
    height: 30px;
    padding: 5px 5px;
  }

  .searchicon {
    display: none;
  }

  .searchicon2 {
    display: inline-block;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  .field {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
  }
}
