.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
}

.editProfile {
  width: 50%;
}

.centered {
  text-align: center;
}

.topnav {
  display: grid;
  gap: 1em;
  justify-content: center;
  border: 2px solid #18191f;
  border-radius: 14px;
  padding: 1em;
  margin-bottom: 3rem;
  background-color: #fdf7e3;
  justify-content: space-around;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.navs {
  margin-left: 1rem;
  width: 15px;
  height: 1.5rem;
  padding-bottom: 0.5rem;
}

.fauser {
  height: 100px;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.topnav2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

input {
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 10rem;
  text-align: left;
  float: left;
}

button {
  float: right;
}

.feedbackMessage {
  text-align: center;
  margin: 0.4em 0em;
  color: #d83830;
}

@media (max-width: 1180px) {
  input {
    padding-right: 3rem;
  }
}

@media (max-width: 1024px) {
  .editProfile {
    width: 65%;
  }
}

@media (max-width: 767px) {
  .editProfile {
    width: 90%;
  }
}

@media (max-width: 530px) {
  input {
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .topnav {
    grid-template-columns: auto auto;
  }
}
