.registerBtn button,
.toggleMenuBtn {
  text-align: center;
  width: 100%;
}

.feedbackMessage {
  margin: 0.4em 0em;
  text-align: center;
  color: #d83830;
}

.toggleMenuBtn button {
  border: none;
  padding: 0;
  box-shadow: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 1em;
}

.highlighted {
  color: #d83830;
}
