.registerContainer button {
  margin-top: 0.8em;
  width: 100%;
}

.feedbackMessage {
  text-align: center;
}

.toggleMenuBtn button {
  border: none;
  padding: 0;
  box-shadow: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 0.2 !important;
}

.highlighted {
  color: #d83830;
}
