.seatMap {
  margin: 2.5rem auto 1.5rem;
  border-radius: 14px;
  max-width: 20rem;
  padding: 0 0.5rem;
}

.screen {
  border-radius: 20%;
  height: 2px;
  width: 320px;
  background-color: rgb(41, 41, 41);
  box-shadow: 0px 3px 5px 0px rgb(41, 41, 41);
}

.glow {
  box-shadow: 0px 30px 70px 10px #689ea4;
}

.seatMap .seatDescWrapper {
  display: flex;
  margin: 0.5rem;
  justify-content: space-around;
  min-width: 18rem;
}

.seatMap .seatDescContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.seatMap .seatDesc {
  border-radius: 5px;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid #18191f;
  background-color: #fff;
}

.seatMap .seatDesc.booked {
  background-color: #f0cfcf;
}

.seatMap .seatDesc.yours {
  background-color: #ffd465;
}

.seatMap hr {
  margin: 0.5rem;
}

.seats {
  margin: 1.5rem 1.5rem 0.8rem 1.5rem;
}

.seatMap .row {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin: 0.3rem auto;
}

.seatMap .checkboxSeat {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seatMap .checkboxSeat input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.seatMap .checkmark {
  background-color: #fff;
  border: 2px solid #18191f;
  border-radius: 5px;
  width: 0.8rem;
  height: 0.8rem;
  transition: 0.2s;
}

.seatMap .seats input:hover ~ .checkmark {
  background-color: #ffd36580;
}

.seatMap .seats input:checked ~ .checkmark {
  background-color: #ffd465;
}

.seatMap .seats input:disabled ~ .checkmark {
  background-color: #f0cfcf;
}

.seatMap .seats input:disabled {
  cursor: not-allowed;
}

.seatMap .seats input:focus ~ .checkmark {
  border: 2px solid #fdb809;
}

.theatre {
  text-align: center;
}

@media screen and (max-width: 370px) {
  .seatMap .seatDesc,
  .seatMap.largeTheater .checkmark {
    border-radius: 4px;
    width: 0.6rem;
    height: 0.6rem;
  }

  .seatMap.largeTheater .row {
    gap: 0.2rem;
    margin: 0.2rem auto;
  }

  .seatMap p {
    font-size: 0.8rem;
  }

  .seatMap .seatDescWrapper {
    min-width: 0rem;
  }
}

@media screen and (min-width: 900px) {
  .seatMap {
    margin: 0;
  }

  .theatre {
    text-align: right;
  }
}
